*, *::before, *::after{
    box-sizing: border-box;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
   padding: 0;
   margin: 0;

}
.banner{
    height: 70px;
    width: 100%;
    padding: 10px;
    border: 10px;
    margin-bottom: 10px;
}
/* h6{
    color: white;
} */

h1{
    /* border: black; */
    /* background-color: black; */
    /* color: white; */
    text-align: center;
    line-height: 80px;
}
.dashboard{
    border-radius: 5px;
    width: 1000px;
    height: 800px;
    border-radius: 5px;
    border: black;
    background: grey;
}
#search-city{
    width: 50%;
    display: inline-block;
}
.searchBox{
    width: 100%;
    border: black;
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    justify-content: center;
    float: left;
    margin-right:  10px;
    margin-left: auto;
} 
.weatherDisplay{
    width: 100%;
    border: black;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    /* box-shadow: 0 0 10px 2px; */
    font-size: 20px;
    justify-content: center;
    margin: auto;

}
#dayOne, #dayTwo, #dayThree, #dayFour, #dayFive{
    background: rgb(58, 127, 231);
    height: 150px;
    margin: 10px;
}
.weatherInfo{
    margin-right: auto;
    text-justify: distribute-all-lines;
    text-align: center;
}
p{
    text-align: left;
    font-size: 15px;
}
/* .displayDay{
    margin-bottom: 30px;
    padding: 10px;
} */
