*, *::before, *::after{
    box-sizing: border-box;
    text-align: center;
}

body{
   padding: 0;
   margin: 0;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.banner{
    height: 70px;
    width: 100%;
    padding: 10px;
    border: 10px;
    margin-bottom: 10px;
}
button{
    background-color:  rgb(58, 127, 231);
    color: white;
}
h2{
    text-align: center;
    line-height: 80px;
    margin: 10px;
}
.displayDay{
    text-transform: capitalize;
}
img{
    margin-top: -25px;
}
.dashboard{
    border-radius: 5px;
    width: 1000px;
    height: 800px;
    border-radius: 5px;
    border: black;
    background: grey;
}
#search-city{
    width: 50%;
    display: inline-block;
}
.searchBox{
    width: 100%;
    border: black;
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    justify-content: center;
    margin-right:  10px;
    margin-left: auto;
} 
.weatherDisplay{
    width: 100%;
    border: black;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    font-size: 30px;
    justify-content: center;
    margin: auto;

}
#fivedayRow{
    height: 150px;
    border: 20px;
    width: 20px;
    padding: 50px;
    text-align: center;
}
.fiveDay{
    padding: 10px;
    margin: 5px;
}
.cityBtn {
    width: 200px;
    height: 40px;
    padding: 0;
    margin-left: 20px;
    font-size: 20px;
    background-color: transparent;
    color: black;
}
.card{
    display: inline;
}

.weatherInfo{
    margin-right: auto;
    text-align: left;
    font-size: 20px;
}
p{
    text-align: left;
    font-size: 15px;
}

